<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 38.5 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=ac86d59e75dd85430f69ec65116f31213761eef2567a8feebde0a69611e37808
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
%sql SELECT DISTINCT LAUNCH_SITE FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('VAFB SLC-4E',),
 ('KSC LC-39A',),
 ('CCAFS SLC-40',),
 (None,)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
%sql SELECT LAUNCH_SITE FROM SPACEXTBL WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
%sql SELECT sum(PAYLOAD_MASS__KG_), Customer FROM SPACEXTBL WHERE Customer = "NASA (CRS)"

 * sqlite:///my_data1.db
Done.

[(45596.0, 'NASA (CRS)')]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [19]:
%sql SELECT avg(PAYLOAD_MASS__KG_), BOOSTER_VERSION FROM SPACEXTBL WHERE BOOSTER_VERSION LIKE 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665, 'F9 v1.1  B1003')]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [22]:
%sql SELECT min(date) FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('01/06/2014',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [27]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000 AND LANDING_OUTCOME = "Success (drone ship)"

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [31]:
%sql SELECT * ,COUNT(MISSION_OUTCOME) FROM SPACEXTBL GROUP BY MISSION_OUTCOME

 * sqlite:///my_data1.db
Done.

[(None, None, None, None, None, None, None, None, None, None, 0),
 ('28/06/2015', '14:21:00', 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952.0, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)', 1),
 ('06/04/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0.0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)', 98),
 ('23/12/2018', '13:51:00', 'F9 B5B1054', 'CCAFS SLC-40', 'GPS III-01 ', 4400.0, 'MEO', 'USAF', 'Success ', 'No attempt', 1),
 ('01/08/2018', '1:00:00', 'F9 B4 B1043.1', 'CCAFS SLC-40', 'Zuma', 5000.0, 'LEO', 'Northrop Grumman', 'Success (payload status unclear)', 'Success (ground pad)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [33]:
%sql SELECT BOOSTER_VERSION, PAYLOAD_MASS__KG_ FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600.0),
 ('F9 B5 B1049.4', 15600.0),
 ('F9 B5 B1051.3', 15600.0),
 ('F9 B5 B1056.4', 15600.0),
 ('F9 B5 B1048.5', 15600.0),
 ('F9 B5 B1051.4', 15600.0),
 ('F9 B5 B1049.5', 15600.0),
 ('F9 B5 B1060.2 ', 15600.0),
 ('F9 B5 B1058.3 ', 15600.0),
 ('F9 B5 B1051.6', 15600.0),
 ('F9 B5 B1060.3', 15600.0),
 ('F9 B5 B1049.7 ', 15600.0)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [41]:
%sql SELECT substr(Date,4,2) as month, substr(Date,7,4)  as year, landing_outcome, booster_version, launch_site  from SPACEXTBL WHERE  substr(Date,7,4)='2015' AND landing_outcome = "Failure (drone ship)"

 * sqlite:///my_data1.db
Done.

[('10', '2015', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', '2015', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [58]:
%sql SELECT substr(Date, 4, 2) as month, substr(Date, 7, 4) as year, landing_outcome, booster_version, launch_site  from SPACEXTBL WHERE Date Between '04-06-2010' and '20-03-2017' AND landing_outcome LIKE 'Success%' ORDER BY year DESC, month DESC

 * sqlite:///my_data1.db
Done.

[('11', '2020', 'Success', 'F9 B5B1061.1 ', 'KSC LC-39A'),
 ('10', '2020', 'Success', 'F9 B5 B1051.6', 'KSC LC-39A'),
 ('08', '2020', 'Success', 'F9 B5 B1049.6', 'CCAFS SLC-40'),
 ('07', '2020', 'Success', 'F9 B5 B1051.5', 'KSC LC-39A'),
 ('06', '2020', 'Success', 'F9 B5 B1059.3', 'CCAFS SLC-40'),
 ('06', '2020', 'Success', 'F9 B5 B1058.3 ', 'KSC LC-39A'),
 ('06', '2020', 'Success', 'F9 B5 B1058.4 ', 'KSC LC-39A'),
 ('05', '2020', 'Success', 'F9 B5B1062.1', 'CCAFS SLC-40'),
 ('04', '2020', 'Success', 'F9 B5 B1049.5', 'CCAFS SLC-40'),
 ('03', '2020', 'Success', 'F9 B5 B1060.2 ', 'KSC LC-39A'),
 ('12', '2019', 'Success', 'F9 B5 B1051.2 ', 'VAFB SLC-4E'),
 ('12', '2019', 'Success', 'F9 B5 B1056.3 ', 'CCAFS SLC-40'),
 ('11', '2019', 'Success', 'F9 B5 B1048.4', 'CCAFS SLC-40'),
 ('05', '2019', 'Success', 'F9 B5B1059.1', 'CCAFS SLC-40'),
 ('04', '2019', 'Success', 'F9 B5B1056.1 ', 'CCAFS SLC-40'),
 ('11', '2018', 'Success (drone ship)', 'F9 B5  B1046.1', 'KSC LC-39A'),
 ('11', '2018', 'Success', 'F9 B5 B1047.2', 'KSC LC-39A'),
 ('10', '2018', 'Success', 'F9 B5B1049.1', 'CCAFS SLC-40'),
 ('08', '2018', 'Success', 'F9 B5 B1048.2', 'VAFB SLC-4E'),
 ('07', '2018', 'Success', 'F9 B5 B1046.2', 'CCAFS SLC-40'),
 ('04', '2018', 'Success (drone ship)', 'F9 B4 B1045.1', 'CCAFS SLC-40'),
 ('03', '2018', 'Success', 'F9 B5 B1046.3', 'VAFB SLC-4E'),
 ('12', '2017', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40'),
 ('11', '2017', 'Success (drone ship)', 'F9 FT  B1031.2', 'KSC LC-39A'),
 ('09', '2017', 'Success (drone ship)', 'F9 B4 B1041.1', 'VAFB SLC-4E'),
 ('08', '2017', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('07', '2017', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('03', '2017', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('02', '2017', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('01', '2017', 'Success (drone ship)', 'F9 FT B1029.1', 'VAFB SLC-4E'),
 ('01', '2017', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('08', '2016', 'Success (drone ship)', 'F9 FT B1021.1', 'CCAFS LC-40'),
 ('08', '2016', 'Success (drone ship)', 'F9 FT B1026', 'CCAFS LC-40'),
 ('07', '2016', 'Success (ground pad)', 'F9 FT B1025.1', 'CCAFS LC-40'),
 ('06', '2016', 'Success (drone ship)', 'F9 FT B1022', 'CCAFS LC-40')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>